<% breadcrumb :admins, @admins %>

<h1>Admins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.active %></td>
        <td><%= link_to 'Show', [:auth, admin] %></td>
        <td><%= link_to 'Edit', edit_auth_admin_path(admin) %></td>
        <td><%= link_to 'Destroy', [:auth, admin], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_auth_admin_path %>
