<% breadcrumb :admin, @admin %>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @admin.active %>
</p>

<%= link_to 'Edit', edit_auth_admin_path(@admin), class: 'waves-effect waves-light btn' %> |
<%= link_to 'Back', auth_admins_path, class: 'waves-effect waves-light btn' %>
