
<%= simple_form_for([:auth, @working_day]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col s12">
        <%= f.association :schedule, label_method: :description, value_method: :id, include_blank: false %>
        <%= f.select :day, WorkingDay.days.keys %>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.input :entry_time %>
      </div>
      <div class="col s6">
        <%= f.input :departure_time %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
