<h1>Working Days</h1>
<% breadcrumb :working_days, @working_days %>
<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Day</th>
      <th>Entry time</th>
      <th>Departure time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_days.each do |working_day| %>
      <tr>
        <td><%= working_day.schedule.id %></td>
        <td><%= working_day.day %></td>
        <td><%= working_day.entry_time.strftime("%I:%M%p") %></td>
        <td><%= working_day.departure_time.strftime("%I:%M%p") %></td>
        <td><%= link_to 'Show', [:auth, working_day] %></td>
        <td><%= link_to 'Edit', edit_auth_working_day_path(working_day) %></td>
        <td><%= link_to 'Destroy', [:auth, working_day], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working Day', new_auth_working_day_path %>
