<div class="row">
  <div class="col s8 offset-s2">
    <h1>New Working Day</h1>

    <%= render 'form', working_day: @working_day %>

    <%= link_to 'Back', auth_working_days_path %>
  </div>
</div>
