<% breadcrumb :working_day, @working_day %>

<p>
  <strong>Schedule:</strong>
  <%= @working_day.schedule.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @working_day.day %>
</p>

<p>
  <strong>Entry time:</strong>
  <%= @working_day.entry_time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @working_day.departure_time.strftime("%I:%M%p") %>
</p>

<%= link_to 'Edit', edit_auth_working_day_path(@working_day) %> |
<%= link_to 'Back', auth_working_days_path %>
