<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Profile', current_user.admin? ? auth_admin_path(current_user.profile) : worker_employee_path(current_user.profile) %></li>
    <li class="divider"></li>
    <li><%= link_to  "Sign-Out", destroy_user_session_path, method: :delete %></li>    
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <% if current_user.employee? %>
    <li><%= link_to  "Records", records_worker_employee_path(@employee) %></li>
    <% else%>
    <li><%= link_to  "Admins", auth_admins_path %></li>
    <li><%= link_to  "Employees", auth_employees_path %></li>
    <li><%= link_to  "Registries", auth_registries_path %></li>
    <li><%= link_to  "Schedule", auth_schedules_path %></li>
    <li><%= link_to  "Working days", auth_working_days_path %></li>
    <% end %>
    <li><%= link_to 'Profile', current_user.admin? ? auth_admin_path(current_user.profile) : worker_employee_path(current_user.profile) %></li>
    <li class="divider"></li>
    <li><%= link_to  "Sign-Out", destroy_user_session_path, method: :delete %></li>  
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="<%= current_user.admin? ? auth_admin_path(current_user.profile) : worker_employee_path(current_user.profile) %>" class="brand-logo">
        <%= image_tag('runa-logo.png', :alt => "logo") %>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user.admin? %>
        <li><%= link_to  "Admins", auth_admins_path %></li>
        <li><%= link_to  "Employees", auth_employees_path %></li>
        <li><%= link_to  "Registries", auth_registries_path %></li>
        <li><%= link_to  "Schedule", auth_schedules_path %></li>
        <li><%= link_to  "Working days", auth_working_days_path %></li>
        <% else %>
        <li><%= link_to  "Records", records_worker_employee_path(@employee) %></li>
        <li><%= link_to 'Profile', worker_employee_path(current_user.profile) %></li>
        <% end %>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1" data-activates="dropdown1">
            <%= current_user.profile.name.capitalize %>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
