<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to  "Sign-In", new_user_session_path %></li>
    <li class="divider"></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><%= link_to  "Sign-In", new_user_session_path %></li>
    <li class="divider"></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="<%= unauthenticated_root_path %>" class="brand-logo">
        <%= image_tag('runa-logo.png', :alt => "logo") %>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1" data-activates="dropdown1">
            Are you a user?
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>