
<% if @employee %>
  <div class="row">
    <div id="back" class="col s12 padding-100">
      <div class="card-panel lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s12 m3 avatar">
            <%= image_tag(avatar_name(@employee), alt: "photo", class: "circle responsive-img") %>
          </div>
          <div class="col s12 m9">
            <div class="row detail-employee">
              <div class="col s12">
                <div class="row">
                  <div class="col s12 m6">
                    <div class="name-last-name">
                      <%= @employee.name %>
                    </div>
                  </div>
                  <div class="col s12 m6">
                    <div class="name-last-name">
                      <%= @employee.last_name.present? ? @employee.last_name.present? : 'NN' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m6">
                    <p>
                      <strong>DNI:</strong> <%= @employee.dni.present? ? @employee.dni : 'NN' %>
                    </p>
                    <p>
                      <strong>CODE:</strong> <%= @employee.code %>
                    </p>
                  </div>
                  <div class="col s12 m6">
                    <p>
                      <strong>GENDER:</strong> <%= @employee.gender %>
                    </p>
                    <p>
                      <strong>CIVIL STATUS:</strong> <%= @employee.civil_status %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
        <a id="in" class="waves-effect waves-light btn-large width-100 <%= @employee.entry? %>" 
            data-disable-with="Saving..." data-code="<%= @employee.code %>">
          <i class="material-icons left">work</i>In
        </a>
      </div>
      <div class="col s12 m6">
        <a id="out" class="waves-effect waves-light btn-large width-100 <%= @employee.departure? %>" 
            data-disable-with="Saving..." data-code="<%= @employee.code %>">
          <i class="material-icons right">next_week</i>Out
        </a>
      </div>
    </div>
  </div>      
<% else %>
  <div id="not-fount" class="col s12">
    <div class="card-panel card-panel-runa bar-primary lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s12 text-center">
          <span>
            User not found!!!
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
