<div class="row">
  <form id="find_employee" class="col s12">
    <div class="row">
      <div class="input-field col s12 m6 offset-m3">
        <input id="code" type="text" class="validate text-center">
        <label for="code">Code</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <table class="bordered striped centered">
        <thead>
          <tr>
            <th>User</th>
            <th>Code</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>employee1@runa.com</td>
            <td>1233</td>
          </tr>
          <tr>
            <td>employee2@runa.com</td>
            <td>1234</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
