<div class="col s12">
  <div class="card-panel lighten-5 z-depth-1">
    <div class="row no-margin">
      <div class="col s12 text-center card-time-header">
        <%= title %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 text-center">
        <%= time %>
      </div>
    </div>
  </div>
</div>
