<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag(avatar_name(@employee), alt: "photo", class: "") %>
        <span class="card-title"><%= @employee.name %></span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>
          <%= @employee.last_name.present? ? @employee.last_name.capitalize : 'NN' %>
        </p>
        <p>
          <strong>CODE:</strong> <%= @employee.code %>
        </p>
      </div>
    </div>
  </div>
</div>
