<div class="row">
  <%= simple_form_for [:worker, employee], local: true do |f| %>
  <div class="col s12">
    <%= f.input :name %>
    <%= f.input :last_name %>
    <%= f.association :schedule, label_method: :description,
                      value_method: :id, include_blank: false, disabled: true%>
    <%= f.input :photo_url %>
    <%= f.input :dni, label: 'DNI'%>
    <div class="row">
      <div class="col s6">
        <label for="employee_gender">Gender</label>
        <%= f.select :gender, Employee.genders.keys %>
      </div>
      <div class="col s6">
        <label for="employee_civil_status">Civil Status</label>
        <%= f.select :civil_status, Employee.civil_statuses.keys %>
      </div>
      </div>
    </div>
    <%= f.button :submit, 'Save', class:'btn-width-100' %>
  </div>
  <% end %>
</div>
