<%#= simple_form_for [:worker, employee], local: true do |f| %>
<div class="col s12 m6">
  <div class="row valign-wrapper">
    <div class="col s6 text-center">
      BETWEEN
    </div>
    <div class="col s6">
      <input id="begin" type="text" class="datepicker text-center-picker ">
    </div>
  </div>
</div>
<div class="col s12 m6">
  <div class="row valign-wrapper">
    <div class="col s6 text-center">
      TO
    </div>
    <div class="col s6">
      <input id="end" type="text" class="datepicker text-center-picker">
    </div>
  </div>
</div>
<%# end %>
