<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>Date Time</th>
      <th>Category</th>
      <th>Minute Delay</th>
      <th>Minute Before Work</th>
      <th>Worker Minutes</th>
    </tr>
  </thead>

  <tbody>
    <% registries.each do |registry| %>
      <tr>
        <td><%= registry.date_time.to_formatted_s(:short) %></td>
        <td class="entry"><%= registry.category %></td>
        <td <%= registry.delay? %>><%= registry.evalue_minute_delay %></td>
        <td <%= registry.before_work? %>><%= registry.evalue_minute_before_work %></td>
        <td><%= registry.evalue_worker_minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
