<div class="row">
  <div class="col s12 m2">
    <div class="row">
      <%= render 'card_time', title: 'Minute Delay', time: @employee.delay_hours %>
      <%= render 'card_time', title: 'Minute Before Work', time: @employee.before_work_hours %>
      <%= render 'card_time', title: 'Worker Minutes', time: @employee.work_hours %>
    </div>
  </div>
  <div class="col s12 m10">
    <div class="row">
      <%= render 'pickers' %>
    </div>
    <div class="row">
      <div class="col s12">
        <%= render 'records', registries: @registries %>
      </div>
    </div>
  </div>
</div>
