<div class="row">
  <div class="col s12 m4">
    <%= render 'card_profile', employee: @employee %>
  </div>
  <div class="col m1">
  </div>
  <div class="col s12 m7">
    <div class="row no-margin">
      <%= render 'form', employee: @employee %>
    </div>
  </div>
</div>
