
<%= simple_form_for(@entry_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :registry %>
    <%= f.input :minute_delay %>
    <%= f.input :minute_before %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
