<p id="notice"><%= notice %></p>

<h1>Entry Details</h1>

<table>
  <thead>
    <tr>
      <th>Registry</th>
      <th>Minute delay</th>
      <th>Minute before</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_details.each do |entry_detail| %>
      <tr>
        <td><%= entry_detail.registry %></td>
        <td><%= entry_detail.minute_delay %></td>
        <td><%= entry_detail.minute_before %></td>
        <td><%= link_to 'Show', entry_detail %></td>
        <td><%= link_to 'Edit', edit_entry_detail_path(entry_detail) %></td>
        <td><%= link_to 'Destroy', entry_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Detail', new_entry_detail_path %>
