<p id="notice"><%= notice %></p>

<p>
  <strong>Registry:</strong>
  <%= @entry_detail.registry %>
</p>

<p>
  <strong>Minute delay:</strong>
  <%= @entry_detail.minute_delay %>
</p>

<p>
  <strong>Minute before:</strong>
  <%= @entry_detail.minute_before %>
</p>

<%= link_to 'Edit', edit_entry_detail_path(@entry_detail) %> |
<%= link_to 'Back', entry_details_path %>
