
<%= simple_form_for(@departure_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :registry %>
    <%= f.input :minute_after_work %>
    <%= f.input :minute_before_work %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
