<p id="notice"><%= notice %></p>

<h1>Departure Details</h1>

<table>
  <thead>
    <tr>
      <th>Registry</th>
      <th>Minute after work</th>
      <th>Minute before work</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departure_details.each do |departure_detail| %>
      <tr>
        <td><%= departure_detail.registry %></td>
        <td><%= departure_detail.minute_after_work %></td>
        <td><%= departure_detail.minute_before_work %></td>
        <td><%= link_to 'Show', departure_detail %></td>
        <td><%= link_to 'Edit', edit_departure_detail_path(departure_detail) %></td>
        <td><%= link_to 'Destroy', departure_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departure Detail', new_departure_detail_path %>
