<p id="notice"><%= notice %></p>

<p>
  <strong>Registry:</strong>
  <%= @departure_detail.registry %>
</p>

<p>
  <strong>Minute after work:</strong>
  <%= @departure_detail.minute_after_work %>
</p>

<p>
  <strong>Minute before work:</strong>
  <%= @departure_detail.minute_before_work %>
</p>

<%= link_to 'Edit', edit_departure_detail_path(@departure_detail) %> |
<%= link_to 'Back', departure_details_path %>
