<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2>Log in</h2>
  </div>
  <div class="col s12 m8 offset-m2 text-center">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field col s12">
        <input id="user_email" type="email" name="user[email]" class="validate" autofocus="autofocus">
        <label for="user_email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="user_password" type="password" name="user[password]" class="validate">
        <label for="user_password">Password</label>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <table class="bordered striped centered">
        <thead>
          <tr>
              <th>User</th>
              <th>Password</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>admin1@runa.com</td>
            <td>12345678</td>
          </tr>
          <tr>
            <td>admin2@runa.com</td>
            <td>12345678</td>
          </tr>
          <tr>
            <td>employee1@runa.com</td>
            <td>12345678</td>
          </tr>
          <tr>
            <td>employee2@runa.com</td>
            <td>12345678</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>