/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require alertify
 *= require default
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: #7a6ff0 !default;
 $primary-color-dark: #352c60 !default;
 $secondary-color: #f5a623 !default;
 @import 'materialize';
 @import url('https://fonts.googleapis.com/css?family=Mitr:400,600');

 body {
  font-family: 'Mitr', sans-serif;
 }

 h1, h2 {
  text-transform: uppercase;
 }

 #sidenav-overlay {
   z-index: 50 !important;
 }

 .container {
   margin-top: 30px;
 }
