table thead {
  font-size: 1.2rem;
}

.delay {
  color: red;
  font-weight: bold;
}

.btn-width-100 {
  width: 100%;
}

.text-center-picker {
  text-align: center;
}

.card-panel {
  padding: 0 !important;
}

.card-time-header {
  font-size: 1rem;
  padding: 0;
  color: white;
  background-color: #7a6ff0;
}

.no-margin {
  margin: 0 !important;
}