#find_employee {
  padding: 20px;
  margin-top: 10vh;
}

.brand-logo {
  height: 80px;
  padding: 10px 20px;
  text-align: center;
  float: none;

  img {
    height: 70%;
    margin-left: 20px;
    margin-top: 5px;
  }
}

.text-center {
  text-align: center;
}

input.text-center {
  font-size: 3rem !important;
  font-weight: bold;
}

.card-panel {
  background-color: #D7D5F9 !important;
  color: #352c60;
  font-size: 1.2rem;
  span {
    color: #352c60;
  }
  &:hover {
    background-color: #f5a623 !important;
    cursor: pointer;
  }
}

.card-panel-runa {
  background-color: #352c60 !important;
  span {
    color: white;
    font-size: 4rem;
    font-weight: bold;
  }
  &:hover {
    background-color: #f5a623 !important;
    cursor: pointer;
  }
}

.width-100 {
  width: 100%;
  font-size: 2rem !important;
  font-weight: bold;
}

.padding-100 {
  padding: 0 !important;
}

.name-last-name {
  font-size: 2rem;
  font-weight: bold;
}

.detail-employee {
  padding: 20px;

  strong {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

#in, #out {
  margin: 5px;
}

img.circle {
  margin: 10px;
}

@media (max-width: 520px) {
  .avatar {
    display: none;
  }
}
