
<%= simple_form_for([:auth, @registry]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :employee, include_blank: false %>
    <%= f.input :date_time %>
    <%= f.select :category, Registry.categories.keys %>
    <%= f.input :ip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
