<% breadcrumb :registries, @registries %>

<h1>Registries</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date time</th>
      <th>Category</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.employee.name %></td>
        <td><%= registry.date_time %></td>
        <td><%= registry.category %></td>
        <td><%= registry.ip %></td>
        <td><%= link_to 'Show', [:auth, registry] %></td>
        <td><%= link_to 'Edit', edit_auth_registry_path(registry) %></td>
        <td><%= link_to 'Destroy', [:auth, registry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registry', new_auth_registry_path %>
