<% breadcrumb :registry, @registry %>

<p>
  <strong>Employee:</strong>
  <%= @registry.employee.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @registry.date_time %>
</p>

<p>
  <strong>Category:</strong>
  <%= @registry.category %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @registry.ip %>
</p>

<%= link_to 'Edit', edit_auth_registry_path(@registry) %> |
<%= link_to 'Back', auth_registries_path %>
