<%= simple_form_for [:auth, employee], local: true do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.association :schedule, label_method: :description, value_method: :id, include_blank: false %>
  <%= f.input :photo_url %>
  <%= f.input :code %>
  <%= f.input :departament %>
  <%= f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last %>

  <%# para deshabilitar el boton al dar click %>
  <%= f.button :submit, data: { "disable-with": "Saving..." } %>
<% end %>
