<% breadcrumb :employees, @employees %>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.active %></td>
        <td><%= link_to 'Show', [:auth, employee] %></td>
        <td><%= link_to 'Edit', edit_auth_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', [:auth, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_auth_employee_path %>
