<% breadcrumb :employee, @employee %>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.active %>
</p>

<%= link_to 'Edit', edit_auth_employee_path(@employee), class: 'waves-effect waves-light btn' %> |
<%= link_to 'Back', auth_employees_path, class: 'waves-effect waves-light btn' %>
