<% breadcrumb :working_days, @working_days %>

<h1>Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.description %></td>
        <td><%= schedule.active %></td>
        <td><%= link_to 'Show', [:auth, schedule] %></td>
        <td><%= link_to 'Edit', edit_auth_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', [:auth, schedule], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_auth_schedule_path %>
