<% breadcrumb :schedule, @schedule %>

<p>
  <strong>Description:</strong>
  <%= @schedule.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @schedule.active %>
</p>

<%= link_to 'Edit', edit_auth_schedule_path(@schedule) %> |
<%= link_to 'Back', auth_schedules_path %>
