<!DOCTYPE html>
<html>
  <head>
    <title>Runa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/logout' %>
    <%= render 'shared/messages' %>
    <div class="container">
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
    </div>
  </body>
</html>
